# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python virtualenv
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Azure
.azure/

# Data files
*.csv
*.pickle
*.pkl
dataset/

# Logs
*.log

# README_keep.md